##Rename this to .env and provide your own values

## Contentful 
## The existing variables will read from the contentful account shared by the presenters through the event
## Please replace these with your own values to read from your own Contentful account
NUXT_CONTENTFUL_SPACE="uhxfintdjk60"
NUXT_CONTENTFUL_PUBLIC_ACCESS_TOKEN="z7oF0mflgM9JI3oGsZ5H0-aTbwX63sBdEHVm5wIbBL0"

## Deskree
## You must provide the URL to your own deskree project (see the Setup Guide for more instructions)
## https://[project-id-here].api.deskree.com/api/v1
NUXT_DESKREE_BASE_URL="https://DragonRider.api.deskree.com/api/v1"

## Stripe
## You must provide the secret token for your stripe account (see the Setup Guide for more instructions)
STRIPE_SECRET="sk_test_51LahCyJsabNzSfDolCykP3JW2Jsp2ZzZugKMQ7wxbFhM3LN04qvdFbODoLY1bGw4rB40Bo9v3kzdvPdMPpzTUG4z00ZeuPRwT8"